include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include global_custom *.css
recursive-include global_custom *.csv
recursive-include global_custom *.html
recursive-include global_custom *.ico
recursive-include global_custom *.js
recursive-include global_custom *.json
recursive-include global_custom *.md
recursive-include global_custom *.png
recursive-include global_custom *.py
recursive-include global_custom *.svg
recursive-include global_custom *.txt
recursive-exclude global_custom *.pyc